.container {
  margin-top: 100px;
}
#salesByAgent {
  background: black;
  color: white;
  padding: 5px 10px;
}
#tableData table,
th,
td {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 0.5);
  padding: 20px;
}
table {
  border-collapse: collapse;
}
.table-agent {
  cursor: pointer;
}
.table-sales {
  padding-right: 100px;
}
.table-agent:hover {
  color: rgb(204, 204, 204);
}
.agent-chart {
  margin-top: 20px;
}
